:root {
    --height-navbar: 7rem;
    --height-announcement: 4rem;
    --height-header: calc(var(--height-navbar) + var(--height-announcement));
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    line-height: inherit;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

button,
[role='button'] {
    cursor: pointer;
}

button,
select {
    text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

img,
video {
    max-width: 100%;
    height: auto;
}

div {
    display: block;
}

/* ======================= Transition ======================= */
/* ===== */
.opacity-cubic-enter {
    opacity: 0;
}
.opacity-cubic-enter-active {
    opacity: 1;
    transition: opacity 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.opacity-cubic-exit {
    opacity: 1;
}
.opacity-cubic-exit-active {
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0, 0, 0.2, 1);
}

/* ===== */
.opacity-linear-enter {
    opacity: 0;
}
.opacity-linear-enter-active {
    opacity: 1;
    transition: opacity 0.3s linear;
}
.opacity-linear-exit {
    opacity: 1;
}
.opacity-linear-exit-active {
    opacity: 0;
    transition: opacity 0.3s linear;
}

/* ===== */
.translate-x-ease-enter {
    transform: translateX(-100%);
}
.translate-x-ease-enter-active {
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}
.translate-x-ease-exit {
    transform: translateX(0);
}
.translate-x-ease-exit-active {
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}
